@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: url(./6068.png) center center no-repeat;
    background-attachment: fixed;
    position:relative;
    font-family: 'Ubuntu',sans-serif;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff ;
}
.list{
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pokemon{
    width: 25%;
    height: 250px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images{
    width: 150px;
    height: 150px;
}
.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
}
.type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.types{
    border-radius: 25px;
    font-size: 15px;
    width: auto;
    height: 30px;
    background-color: greenyellow;
    margin: 5px;
    padding: 8px;
}
